<h1>Add Employee to <%= @division.name() %> </h1>

<form action='/employees' method='post'>
  <input id="division_id" name="division_id" type="hidden" value="<%= @division.id() %>">
  <label for='name'>Employee Name</label>
  <input id='name' name='name' type='text'>

  <button type="submit">Add employee to this division</button>

  <p>Employees in <%= @division.name() %>'s division</p>
  <ul>
<% @division.employees().each() do |employee| %>
    <li> <%= employee.name() %> </li>
<% end %>
  </ul>
</form>
<a class="btn btn-info" href="/" role="button">Back</a>
